<div class="wrapper">

  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">

    <section class="content">

      <div class="container-fluid">

        <app-title [title]="title" 
                   [breadcrumbtitle]="breadcrumbtitle" 
                   [breadcrumbtitle2]="breadcrumbtitle2">
        </app-title>
        <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

      </div>

    </section>  
    
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>

</div>